* {
    font-family: "Jura", sans-serif;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: auto !important;
    padding-top: 0;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;

    margin-bottom: 5%;
}

.fields-set-column{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.fields-set-column.fields-set-column-all-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.fields-set-column.fields-set-column-all-row h3 {
    margin: 3% 2%;
}

.fields-set-column.fields-set-column-all-row .field-row-container {
    justify-content: flex-start;
}

.fields-set-column.fields-set-column-all-row .field-row-container > * {
    margin-right: 3% !important;
}
.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.profile-pic-container > * {
    margin: 15px 0;
}

.profile-pic {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Assicura che l'immagine copra tutto lo spazio disponibile */
    border-radius: 50%; /* Assicura che l'immagine sia circolare */
}

.profile-pic-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 200px;
    aspect-ratio: 1 / 1; /* Mantiene l'elemento quadrato */
    border-radius: 50%; /* Rende l'elemento circolare */
    overflow: hidden;
    background-color: #ccc; /* Colore di sfondo predefinito */

    text-decoration: none;
}

.field-row-container {
    margin: 15px auto;
    justify-content: flex-start;
}

.all-row {
    width: calc(40% + 40% + 40px) !important;
}

.field-row-container > * {
    margin: 0 20px !important;
}

.modify-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.modify-pic label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.modify-pic  span {
    font-family: "Jura", sans-serif;
    font-size: 16px;
    color: black;
}

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.header-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding: 0 10%;
    box-sizing: border-box;

}


.line-divider {
    border-bottom: 1px solid black;
    width: 100%;
}

.confirm-password-btn {
    width: auto;
    aspect-ratio: 1 / 1; /* Mantiene l'elemento quadrato */
    border-radius: 12px;
    height: 80px;
    background-color: #4e569f;
    font-size: 100%;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-password-btn * {
    width: auto;
    aspect-ratio: 1 / 1; /* Mantiene l'elemento quadrato */

    height: 35%;
}

.edit-icon {
    width: auto;
    aspect-ratio: 1 / 1; /* Mantiene l'elemento quadrato */
    height: 25px; /* Set the size of the icon */
    cursor: pointer; /* Optional: change cursor to pointer for better UX */
}

.edit-icon-button {
    border: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.input-box-button {
    justify-content: space-between !important; /* Changed from flex-start to space-between */
}

.input-field-button {
    width: calc(100% - 40px) !important; /* Added to make space for the icon */
}

.delete-account-btn.red-btn {
    border: none;
    background: #df4848;
    line-height: 2em;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: calc(30% - 50px);
    transition: all 0.2s ease;
    margin: 10px 0;
}

.delete-account-btn.red-btn:hover {
    background: #ef7051;
    color: #eee !important;
    transition: all 0.2s ease;

}

.delete-message::before {
    content: "*";
    position: absolute;
    font-size: 1.2rem;
    transform: translate(-80%, -80%);
    font-family: "Jura", sans-serif;
}

@media (max-width: 1070px) {
    .section{
        flex-direction: column;
    }

    .not-resize {
        flex-direction: row !important;
    }

    .not-resize .field-row-container {
        flex-direction: row !important;
    }

    .delete-account-btn.red-btn {
        width: 50%;
    }

    .profile-pic-container {
        width: 60%;
    }

    .fields-set-column {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }


    .confirm-password-btn:before {
        content: "Conferma la modifica";
        margin-right: 2%;
        color: white;
        font-size: 1.5rem
    }


    .field-row-container > *,
    .fields-set-column.fields-set-column-all-row .field-row-container > * {
        margin: 10px !important;
    }

    .all-row {
        width: 100% !important;
    }

    .confirm-password-btn {
        width: 100%;
    }
}