* {
    font-family: "Jura", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.admin-header {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-family: "Jura", serif;
    font-size: 25px;

    font-weight: 700;
    font-style: normal;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    width: 200px;
}

input[type="submit"] {
    background-color: #92A0FF; /* Colore del pulsante */
    color: white; /* Colore del testo */
    border: none; /* Rimuove i bordi predefiniti */
    border-radius: 12px; /* Bordi arrotondati */
    padding: 10px 20px; /* Spaziatura interna */
    font-size: 16px; /* Dimensione del testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s; /* Transizione per il cambio di colore */
}

button{
    background-color: #92A0FF; /* Colore del pulsante */
    color: white; /* Colore del testo */
    border: none; /* Rimuove i bordi predefiniti */
    border-radius: 12px; /* Bordi arrotondati */
    padding: 10px 20px; /* Spaziatura interna */
    font-size: 16px; /* Dimensione del testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s; /* Transizione per il cambio di colore */
}

button:hover {
    background-color: #7582fd;
}

input[type="submit"]:hover {
    background-color: #7582fd;
}

#table-container {
    margin-top: 20px;
    width: 80%;
}

.button-container {
    display: flex;
    gap: 10px; /* Spazio tra i pulsanti */
    padding-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td, tr {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
td {
    background-color: #fff;
}
tr:nth-child(even) td {
    background-color: #f9f9f9;
}
.button-container form {
    display: inline-block;
    margin-right: 10px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-group label {
    width: 200px;
    margin-right: 20px;
}
.form-group input {
    flex: 1;
    width: 200px;
}
.button-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label, .form-group input {
        width: 100%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    th, td {
        box-sizing: border-box;
        width: 100%;
    }

    th {
        text-align: right;
        padding-right: 15px;
        background-color: #f2f2f2;
    }

    td {
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: calc(50% - 15px);
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        background-color: #f9f9f9;
    }

    .button-container {
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="submit"] {
        width: 100%;
    }
}
