/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Header Styles */
.admin-header {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-family: "Jura", serif;
    font-size: 25px;
    font-weight: 700;
}

/* Control Styles */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    width: 200px;
}

/* Button Styles */
input[type="submit"], button {
    background-color: #92A0FF;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, button:hover {
    background-color: #7582fd;
}

/* Table Container */
#table-container {
    margin-top: 20px;
    width: 80%;
}

/* Button Container */
.button-container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td, tr {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

/* Form and Filter Styles */
.filter-container {
    margin-top: 20px;
}

.filter-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-group label {
    margin: 0;
    width: auto;
}

.form-group input {
    padding: 5px;
    width: 150px;
    margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .form-group label, .form-group input {
        width: 100%;
        margin-bottom: 10px;
    }

    .filter-container form {
        flex-direction: column;
    }

    .filter-container .form-group {
        gap: 5px;
    }
}
