html, body {
    overflow-x: hidden;
}

.footer {
    background-color: #4e569f;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}


.footer * {
    font-family: "Jura", serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sub-footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.footer .logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    width: 100%;
}

.logo label {
    font-size: 35px;
    width: max-content;
    text-align: center;
    font-weight: bold;
}

.footer .logo img {
    width: max-content;
    height: initial;
    object-fit: contain;
}
.footer .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    width: 100%;
    height: max-content;
}

.contact-info strong {
    font-size: 25px;
    font-weight: bold;
    margin: 1px 20px;
}

.contact-info > li{
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer .newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: max-content;
}

.input-email-box-newsletter {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    width: 50%;
    height: 60px;
    background-color: #efefef;
    padding: 0 5px;
}

.newsletter label {
    font-size: 25px;
}

.newsletter > * {
    margin: 30px 0;
}
input[type="email"] {
    margin: 2px 10px 2px;
    border: none;
    outline: none;
    background-color: #efefef;
    height: 80%;
    width: 80%;
}

.footer button {
    margin: 2px 10px 2px;
    background-color: #7A7AB7;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;

    width: 100px;
    height: 80%;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 50%;

    margin: 10px 20px;
}

.social-icon-box {
    width: 60px;
    height: 60px;

    border-radius: 100%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-box img {
    object-fit: contain;
}

@media (max-width: 1000px) {
    .footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-container {
        width: 100%;
    }

    .sub-footer-container {
        flex-direction: column;
    }
}