* {
    font-family: "Jura", sans-serif;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.order-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.order-card:hover {
    background-color: #f9f9f9;
}

.order-info, .course-list {
    margin-bottom: 10px;
}

.order-info p, .course-list p {
    margin: 5px 0;
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #4E569F;
    border: 1px solid #4E5680;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #3c4475;
    color: #fff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #ccc;
    border-color: #ccc;
}

.no-orders {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
}
