* {
    font-family: "Jura", sans-serif;
}

/* Container for the search bar */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    padding: 15px;

    background-color: #F1F1E6;
}


/* Search box styling */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    overflow: hidden;

    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;

    box-sizing: border-box;
}

/* Input field styling */
#search-bar {
    border: none;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    margin: 0 2%;
    box-sizing: border-box;
}

#search-bar:focus {
    outline: none;
    cursor: text;
}

/* Search button styling */
#search-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#search-button img {
    width: 20px;
    height: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    width: 100%;
    top: 70px;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.dropdown-item:hover {
    background-color: #efefef;
}

.dropdown-item a {
    text-decoration: none;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;

    color: black;
}

.search-result-element-info {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 2;
}

.dropdown-item img.dropdown-img {
    height: 40px; /* Dimensione dell'iniziale */
    width: 40px; /* Dimensione dell'iniziale */
    margin-right: 10px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.sub-search-element {
    font-size: 14px;
    margin: 0 2%;
    flex: 1;
}

.search-element-name {
    font-weight: bolder;

}

.search-result-element-details {
    display: flex;
    flex: 1;
    gap: 10px; /* Modifica questo valore per regolare la distanza tra gli elementi */
}
.dropdown-item .initials {
    height: 40px; /* Dimensione dell'iniziale */
    width: 40px; /* Dimensione dell'iniziale */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%; /* Ingrandisce il testo per coprire meglio l'area */
    color: #fff;
    background-color: #596cff; /* Colore di sfondo quando l'immagine non è disponibile */
    border-radius: 50%; /* Assicura che il div sia circolare */
    text-transform: uppercase; /* Trasforma le iniziali in maiuscolo */
    margin-right: 10px; /* Spazio tra le iniziali e il testo */
}