* {
    font-family: "Jura", sans-serif;
}

/* Container for the search bar */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    padding: 15px;

    background-color: #F1F1E6;
}

/* Search box styling */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    overflow: hidden;

    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;

    box-sizing: border-box;
}

/* Input field styling */
#search-bar {
    border: none;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    margin: 0 2%;
    box-sizing: border-box;
}

#search-bar:focus {
    outline: none;
    cursor: text;
}

/* Search button styling */
#search-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#search-button img {
    width: 20px;
    height: 20px;
}

/* Dropdown styling */
.dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-content ul li:hover {
    background-color: #f1f1f1;
}
