.courses-section {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}



.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
    box-sizing: content-box;
}

.slider-element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: content-box;
    overflow: scroll;
    transition: transform 0.3s ease;
    max-width: 95%;
    flex: 1 0 10%;

    /* Make scrollbar invisible*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slider-element-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.course-box {

    box-sizing: border-box;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background: linear-gradient(to right, #f8f8f8, #e8e8e8);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 30px;

    text-decoration: none;
    outline: none;
}

.master-course-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 90%;

    justify-content: space-between;
    align-items: center;
}

.master-course-info > img {
    height: 120px;
    width: 100%;

    border-radius: 12px;
}

.master-course-info > label {
    color: black;
    font-family: "Jura", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    height: 30px;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.sub-course-info {
    color: #515151;
    font-family: "Jura", sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    height: 16px;
}

.move-slider-button {
    width: 33px;
    height: 25px;
    background: none;
    outline: none;
    border: none;

    position: relative;
    cursor: pointer;
}

.move-slider-right {
    right: 0;
}

.move-slider-left {
    left: 0;
}

