<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>upload-path</param-name>
        <param-value>${catalina.home}/upload</param-value>
    </context-param>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.tswmoodle2.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayFieldTestServlet</servlet-name>
        <servlet-class>com.tswmoodle2.controller.DisplayFieldTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayFieldTestServlet</servlet-name>
        <url-pattern>/print</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.tswmoodle2.controller.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCourseInfoServlet</servlet-name>
        <servlet-class>com.tswmoodle2.controller.GetCourseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCourseInfoServlet</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>

</web-app>